@import 'vars';

.header-container {
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100vw;
	// background-color: #940b04;
	background-color: black;
	display: flex;
	place-content: center;
	place-items: center;
}

.header-logo {
	height: 135px;
	position: absolute;
	bottom: -5px;
}

.header-user {
	height: 40px;
	position: absolute;
	left: 25px;
}

.header-cart {
	height: 40px;
	position: absolute;
	right: 25px;
}

@media (min-width: 700px) {
	.header-user {
		left: 155px;
	}
	
	.header-cart {
		right: 155px;
	}
}