.options-btn{
    position: fixed;
    top: 50px;
    left: calc((100vw - 730px) / 2);;
    backdrop-filter: blur(2px);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    z-index: 100;
}

