.product-list {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 20%);
    padding: 0;
    box-sizing: border-box;
}

.product-list_title {
    width: 100%;
    place-items: center;
    margin-bottom: 15px;

    span {
        font-size: 25px;
        color: #717171
    }

    hr {
        background-color: #d6d6d6;
        border: 0;
        flex-grow: 1;
        height: 1px;
    }
}

@media (min-width: 1000px){
    .product-list{
        padding: 15px;
    }
}