.product-list {
    display: flex;
    flex-wrap: wrap;


}

.product-list_title {
    width: 100%;
    place-items: center;
    margin-bottom: 15px;

    span {
        font-size: 25px;
        color: #717171
    }

    hr {
        background-color: #d6d6d6;
        border: 0;
        flex-grow: 1;
        height: 1px;
    }
}